body {
    background-color: whitesmoke;
}

main {
    margin: 0 auto;
    padding: 1rem;
    width: fit-content;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
}

#todoList {
    margin: 0 auto;
    padding: 2rem;
    border: 2px solid black;
    border-radius: 1rem;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.item {
    border: 1px solid black;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.item label {
    padding: .5rem;
    display: flex;
    align-items: center;
}

.item input {
    margin: 0 .5rem 0 0;
    width: 15px;
    height: 15px;
}

.delete-btn {
    margin: .5rem;
    padding: .25rem .5rem;
    background-color: inherit;
    border: none;
    border-radius: 10%;
    background-color: green;
    color: white;
    font-weight: bold;
}

.delete-btn:hover {
    background-color: red;
}

#addTodo {
    margin: 1rem 0 0 0;
    text-align: right;
}

.checked {
    text-decoration: line-through;
}